@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #3d4447;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  color: #fff;
}

/* NAV CONTAINER  */

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.square-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 999;
}

.square {
  background: linear-gradient(#b8e994, #78e08f);
  height: 200px;
  width: 200px;
  position: relative;
  transition: transform 0.5s linear;
}

.square button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.square button:focus {
  outline: none;
}

.square button#open {
  left: 70%;
}

.square button#close {
  top: 78%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/* NAV */

.nav-menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 300px 50px;
  list-style-type: none;
  transform: translateX(-200%);
  transition: transform 0.5s ease-in;
}

.list-item {
  text-transform: uppercase;
  margin: 20px 0;
  transform: translateX(-200%);
  transition: transform 0.5s ease-in;
}

.nav-menu li a {
  display: block;
  height: 5em;
  width: 5em;
  text-align: center;
  line-height: 5em;
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.container.show-nav + nav ul {
  transform: translateX(0);
  transition-delay: 0.3s;
  background-color: #3d3d3d;
}

.container.show-nav .square {
  transform: rotate(-70deg);
}

/* HEADING */

.title {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

h1 {
  max-width: 80%;
  font-family: "Merriweather", serif;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 6em;
  color: #fff;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  line-height: 1em;
  z-index: 100;
  white-space: nowrap;
}

.text-start {
  background: -webkit-linear-gradient(#b8e994, #079992);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
}

.text-end {
  background: -webkit-linear-gradient(#78e08f, #b8e994);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
}

/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 50px auto;
}

.main-img {
  max-width: 500px;
}

.text-content {
  text-transform: uppercase;
  font-weight: 700;
  color: #b8e994;
  padding: 25px;
}

.cta {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 10px;
}

.cta-button {
  outline: none;
  border: none;
  background-color: #b8e994;
  font-weight: 700;
  padding: 20px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  letter-spacing: 0.2px;
}

.cta-button:hover {
  background-color: #78e08f;
}

.cta-button:active {
  transform: scale(0.98);
}

.cta-button:focus {
  outline: 0;
}
